head
  title PastaNything

  meta(
    name    = "author"
    content = "Phalexei & Ribesg"
  )

  meta(
    name    = "copyright"
    content = "Phalexei & Ribesg"
  )

  meta(
    name    = "language"
    content = "en"
  )

  meta(
    name    = "description"
    content = "Something about pasting stuff"
  )

  meta(
    charset = "UTF-8"
  )

  link(
    type = "text/css"
    rel  = "stylesheet"
    href = "/css/semantic.min.css"
  )

  script(
    src="/javascript/semantic.min.js"
  )

  link(
    type = "text/css"
    rel  = "stylesheet"
    href = "/css/animate.css"
  )

body
