template(name="footer")
  .row
    .ui.horizontal.icon.divider
      i.info.icon
  .row.footer-text
    .ui.left.floated.header
      | Early beta version - Any pasted content can be removed at any time
    .ui.right.floated.header
      | PastaNything by Phalexei & Ribesg
